.dropdown-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-container select {
    background-color: #FFF;
    width: 100%;
    font-size: 16px;
    padding: 18px;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}