.teamContainer {
    text-align: center;
    padding: 32px;
    position: relative;
}

.teamContainer .input-color {
    position: absolute;
    top: 20px;
    right: 50px;
}

.teamContainer h3 {
    font-size: 32px;
    margin-bottom: 0;
}

.teamContainer span {
    width: 32px;
    border-bottom: 4px solid;
    display: inline-block;    
}

.teamContainer .memberList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    margin-top: 32px;
}