.field-container {
    margin: 2em 0;
}

.field-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.field-container input {
    background-color: #FFF;
    width: 100%;
    font-size: 16px;
    padding: 18px;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}

.field-color input {
    padding: 8px 8px;
    width: 50px;
    height: 50px;
}